command-bar .inner {
  margin: 0 auto;
  max-width: var(--thread-width);
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #b8b8b8;
  border-radius: 5px;
  background: white;
  margin-bottom: 20px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

command-bar textarea {
  width: 100%;
  background: white;
  padding: 10px;
  outline: none;
  border: none;
  field-sizing: content;
  resize: none;
  min-height: 1lh;
  max-height: 4lh;
}
