thread-view {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 0;
  flex-grow: 1;
}

thread-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  overflow-y: scroll;
  margin: 0 auto;
  width: 100%;
  gap: 30px;
  padding-bottom: 40px;
}

/*
.thread-item .header {
  display: flex;
  font-weight: 500;
  gap: 3px;
  font-size: 13px;
  align-items: center;
  border-right: 1px solid #ccc;
  padding-right: 10px;
}

.thread-item .header svg {
  width: 14px;
}

.thread-item {
  display: flex;
  width: var(--thread-width);
  flex-direction: column;
  gap: var(--spacing-4);
}

.user-input {
  position: sticky;
  top: 0px;
  background: white;
  padding-top: 20px;
}

.user-input .inner {
  display: flex;
  gap: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #eff1f2;
  border-radius: var(--rounded-sm);
  padding: var(--spacing-2);
}

.user-input .title {
  flex-grow: 1;
}

.user-input .buttons {
  font-weight: 500;
  font-size: 15px;
  color: #888;
  padding-left: 10px;
  padding-right: 5px;
  cursor: default;
}

.text-output {
  padding: 0 var(--spacing-2);
  background: white;
  border-radius: 4px;
  font-size: 15px;
  line-height: 1.5rem;
} */
